body {
  background-color: #7E349D;
  color: white;
  font: 18px BlinkMacSystemFont;
}

#messages {
  position: absolute;
  bottom: 20px;
  left: 0;
}

#new_message {
  background-color: #5E147D;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  line-height: 200%;
  font-size: 18px;
  border: none;
  outline: none;
  padding: 0px 20px 0px 20px;
}

li {
  list-style-type: none;
  margin: 10px 0 10px -20px;
}
